<% @messages.each do |message| %>
  <h2><%= message.title %></h2>
  <%= link_to "View Message", message_path(message), class: "btn btn-danger" %>
<% end %>

<%= link_to "New Message", new_message_path %>
